@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RedHatDisplay", sans-serif;
  src: url("./fonts/RedHatDisplay-Light.ttf") format("truetype");
  font-weight: 300;
}

.menu {
  @apply fixed top-0 left-0
    flex flex-col justify-center items-center
    bg-green-500 w-full h-screen
    md:bg-transparent md:relative md:h-auto
    md:flex-row md:justify-end md:flex;
}

.menu-link {
  @apply block text-white p-4 hover:text-red-400 md:text-black;
}

.slider {
    position: absolute;
    transition: opacity 1s ease;
}